<div class="counter-container">
  <!-- <div class="image">
    <img
      src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80  "
      alt=""
    />
  </div> -->
  <div class="newone">
    <button (click)="Increment()">like👍{{ count }}</button>
    <button (click)="Decrement()">Dislike👎{{ count1 }}</button>
    <input type="range" [max]="count + count1" [value]="count" />
    <h2 *ngIf="awesome">you are awesome</h2>
  </div>
</div>
