<div class="final">
  <div class="movie img">
    <img src="{{ movie.src }}" alt="" />
  </div>
  <div class="moviename">
    <span class="movie-name">{{ movie.name }}</span>
    <button (click)="toggle()" mat-icon-button aria-label="Expand-less">
      <mat-icon>expand_less</mat-icon>
    </button>
    <button class="info" (click)="gotoMovieDetail()">
      <mat-icon>info</mat-icon>
    </button>
    <span class="movie-rating">⭐{{ movie.rating }}</span>
  </div>

  <p *ngIf="show">{{ movie.content }}</p>
  <!-- <button (click)="deleteMovieById()">delmovie</button>
   <button (click)="updatedMovie()">Update movie</button> -->
  <div class="delicons">
    <button
      (click)="deleteMovieById()"
      mat-icon-button
      color="accent"
      aria-label="Delete Movie"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button
      (click)="updatedMovie()"
      mat-icon-button
      color="warn"
      aria-label="Edit Movie"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <app-counter> </app-counter>
</div>
