
.final{
    display: grid;
   
    /* width: 100%; */
    overflow: hidden;
}
.movie img{
    border-radius: 10%;
    height: 20rem;
    width: 100%;
    overflow: hidden;
}
.moviename{
    display: flex;
    justify-content: space-between;
}
