body{
    display: grid;
    place-content: center;
    background-color: rgb(11, 11, 10);
    min-height: 100vh;
}
.final{
    display: grid;
   
    /* width: 100%; */
    overflow: hidden;
}
.movie img{
    border-radius: 10%;
    height: 20rem;
    width: 100%;
    overflow: hidden;
}
.moviename{
    display: flex;
    justify-content: space-between;
}
