<form
  [formGroup]="movieForm"
  (ngSubmit)="updatedMovie()"
  class="add-movie-form"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Ex. Vikram" />

    <mat-error *ngIf="name?.touched && name?.hasError('required')">
      Why not fill this field 😉?
    </mat-error>
    <mat-error *ngIf="name?.touched && name?.hasError('minlength')">
      Please provide full movie name 😁
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rating</mat-label>
    <input matInput formControlName="rating" placeholder="Ex. 7" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>src</mat-label>
    <input matInput formControlName="src" placeholder="Ex. http://img.com" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>content</mat-label>
    <input matInput formControlName="content" placeholder="Ex. Cool movie" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Trailer</mat-label>
    <input matInput formControlName="trailer" placeholder="Ex. Cool movie" />
    <mat-error *ngIf="trailer?.touched && trailer?.hasError('required')">
      Why not fill this field 😉?
    </mat-error>
    <mat-error *ngIf="trailer?.touched && trailer?.hasError('minlength')">
      Please provide valid url 😁
    </mat-error>
    <mat-error *ngIf="trailer?.touched && trailer?.hasError('pattern')">
      Please provide valid url 😁
    </mat-error>
  </mat-form-field>
  <!-- <button (click)="updatedMovie()">Update movie</button> -->
  <button
    [disabled]="movieForm.invalid"
    type="submit"
    mat-raised-button
    color="primary"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="save"
    ></mat-icon>
    {{ "Save" | uppercase }}
  </button>
</form>

<pre>
  {{ movieForm.value | json }}
</pre>
