/* .input{
    
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 20rem;
        margin: 0 auto;
        margin-bottom: 1rem;
      
} */
/* Style for the input container */
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    max-width: 400px; /* Adjust this to your preferred width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the mat-form-field labels */
  .mat-form-field label {
    font-weight: bold;
  }
  
  /* Style for the input fields */
  .mat-form-field input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* Style for the "Add movie" button */
  button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
  }
  
  /* Hover effect for the button */
  button:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
  }
  