<div class="input">
  <!-- <input
      matInput
      placeholder=""
      type="text"
      [(ngModel)]="movie.src"
      matInput
      placeholder="pic url"
    />
    <input
      matInput
      placeholder=""
      type="text"
      [(ngModel)]="movie.moviename"
      placeholder="title"
    />
    <input
      matInput
      placeholder=""
      type="text"
      [(ngModel)]="movie.content"
      placeholder="description"
    />  -->
  <!-- (submit) will refresh the browser  -->
  <form [formGroup]="movieForm" (ngSubmit)="addmovie()" class="add-movie-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Ex. Vikram" />

      <mat-error *ngIf="name?.touched && name?.hasError('required')">
        Why not fill this field 😉?
      </mat-error>
      <mat-error *ngIf="name?.touched && name?.hasError('minlength')">
        Please provide full movie name 😁
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rating</mat-label>
      <input matInput formControlName="rating" placeholder="Ex. 7" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Src</mat-label>
      <input matInput formControlName="Src" placeholder="Ex. http://img.com" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>content</mat-label>
      <input matInput formControlName="content" placeholder="Ex. Cool movie" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Trailer</mat-label>
      <input matInput formControlName="trailer" placeholder="Ex. Cool movie" />
      <mat-error *ngIf="trailer?.touched && trailer?.hasError('required')">
        Why not fill this field 😉?
      </mat-error>
      <mat-error *ngIf="trailer?.touched && trailer?.hasError('minlength')">
        Please provide valid url 😁
      </mat-error>
      <mat-error *ngIf="trailer?.touched && trailer?.hasError('pattern')">
        Please provide valid url 😁
      </mat-error>
    </mat-form-field>

    <button
      class="addmoviebtn"
      [disabled]="movieForm.invalid"
      type="submit"
      mat-raised-button
      color="primary"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add"
      ></mat-icon>
      {{ "Add Movie" | uppercase }}
    </button>
  </form>

  <pre>
  {{ movieForm.value | json }}
</pre
  >
  <!-- <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="name" placeholder="Ex. Vikram" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>picurl</mat-label>
    <input matInput [(ngModel)]="src" placeholder="Ex.http.img" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>rating</mat-label>
    <input matInput [(ngModel)]="rating" placeholder="Ex. 7" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>summary</mat-label>
    <input matInput [(ngModel)]="content" placeholder="Ex. Cool movie" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>trailer</mat-label>
    <input matInput [(ngModel)]="trailer" placeholder="Ex. https:youtube.com" />
  </mat-form-field> -->

  <!-- <mat-card-content>Rating </mat-card-content>
  <mat-form-field class="example-full-width">
    <mat-label></mat-label>
    <input matInput placeholder="rating" />
  </mat-form-field>
  <mat-card-content>Description </mat-card-content>
  <mat-form-field class="example-full-width">
    <mat-label></mat-label>
    <input matInput placeholder="description" />
  </mat-form-field>
  <mat-card-content>Picurl </mat-card-content>
  <mat-form-field class="example-full-width">
    <mat-label></mat-label>
    <input matInput placeholder="picurl" />
  </mat-form-field>
  <mat-card-content> Title </mat-card-content>
  <mat-form-field class="example-full-width">
    <mat-label></mat-label>
    <input matInput placeholder="name" />
  </mat-form-field> -->
  <!--<input matInput placeholder="rating" type="text" [(ngModel)]="movie.rating" /> -->
  <!-- <button mat-raised-button color="primary" (click)="addmovie()">
    {{ "Add movie" | uppercase }}
    {{ 100.85 | currency : "USD" }}
  </button> -->
</div>
